/* Navbar.css */
.navbar {
  background-color: #ffffff; /* White background */
  color: #000000; /* Black text color */
  display: flex;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure navbar stays on top */
}

.first-line {
  display: flex;
  align-items: center;
  flex: 1; /* Occupy remaining space */
}

.navbar div {
  display: flex;
  align-items: center;
}

.navbar-random-icon {
  margin-left: 10px;
  margin-right: auto; /* Pushes the random icon to the left */
  font-size: 6em;
}

.navbar-icons {
  display: flex;
  margin-right: 20px;
}

.navbar-icons a {
  color: black;
  margin-right: 10px;
  font-size: 20px;
  text-decoration: none;
  font-size: 2em;
}

.navbar-whatsapp {
  display: flex;
  flex-direction: column;
}

.navbar-whatsapp div {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-right: 5px;
  font-size: 2em;
}

.navbar-whatsapp div svg {
  margin-right: 5px;
}

.navbar-whatsapp div:last-child {
  margin-bottom: 0;
}

.navbar-links {
  width: 100%; /* Ensure the links take up the full width */
  margin-top: 10px; /* Adjust the margin as needed */
  display: flex;
  justify-content: center; /* Center the content horizontally */
  border-top: 1px solid grey !important; /* Add black border-bottom line */
  border-bottom: 1px solid grey !important; /* Add black border-bottom line */
}

.navbar-links a {
  color: black;
  text-decoration: none;
  margin-right: 20px;
  font-size: 1.5em;
}

.navbar-links a:last-child {
  margin-right: 0;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column; /* Stack items vertically for smaller screens */
    text-align: center; /* Center text on smaller screens */
  }

  .navbar div {
    margin-bottom: 10px; /* Add spacing between stacked items */
  }

  .navbar-links {
    flex-direction: column; /* Stack links vertically for smaller screens */
    order: 4; /* Change order of items */
    margin-top: 10px; /* Add spacing between stacked items */
  }

  .navbar-icons,
  .navbar-whatsapp {
    order: 3; /* Change order of items */
    margin-top: 10px; /* Add spacing between stacked items */
  }
}
